.menu {
  position: fixed;
    left: 0px;
    width: 100vw;
    bottom: 0px;
    height: calc(100% - 65px);
    transform: translateX(0vw);
    background-color: #fff;
    transition: transform 250ms ease-in-out;
    box-shadow: 1px 0px 3px #000;
    z-index: 1000;
}
.menu.hidden{
    transform: translateX(-100vw);
}

@media (min-width: 568px) {
  .menu {
    width: 380px;
  }
  .menu.hidden{
    transform: translateX(-380px);
  }
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu a {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-left: 2rem;
  vertical-align: middle;
  align-items: center;
}
