button {
  padding:0.75rem 1rem;
  border-radius:1.25rem;
  border:0;
  font-size: 1rem;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  cursor:pointer;
}
.primaryButton{
  background-color: #00A;
  color:#fff;
}

.circleButton{
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  width:3rem;
  height:3rem;
  padding:0;
  box-shadow: 1px 1px 3px #333;
}
