.menu_toggle {
    transition: all .3s;
    box-sizing: border-box;
    display: none;
}
.menu_toggle_icon {
    transition: all .3s;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: -0.5rem;
    z-index: 99;
    height: 33px;
    width: 42px;
}

.hmb {
    transition: all .3s;
    box-sizing: border-box;
    height: 3px;
    width: 100%;
    background-color: #ccc;
    border-radius: 2px;
}

.dgn.pt-1 {
    position: relative;
    transition: all .3s;
    box-sizing: border-box;
    float: left;
}

.hrz {
    transition: all .3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.dgn.pt-2 {
    transition: all .3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.menu_toggle_icon.menu_show>.dgn.pt-1 {
    transition: all .3s;
    transform: rotate(135deg);
    margin-top: 7px;
}
.menu_toggle_icon.menu_show>.hrz {
    transition: all .3s;
    opacity: 0;
}
.menu_toggle_icon.menu_show>.dgn.pt-2 {
    transition: all .3s;
    transform: rotate(-135deg);
    margin-top: -9px;
}
