.card{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 300px;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
